.page-list {
  max-width: 1200px;
  border-right: solid 1px #dedede;
}
.page-list-header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.page-list-header h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-right: 20px;
}
.page-list-header-search {
  flex: 1;
}
.page-list-header-control {
  margin-left: auto;
}
.page-list .pz-list {
  height: calc(100% - 50px);
  overflow-y: auto;
  padding: 20px;
}
.page-list .pz-list-item {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(221, 221, 221, 0.7) 0 0 8px 1px;
}
.page-list .pz-list-item-body {
  padding: 10px 0;
  height: 66px;
}
.page-list .pz-list-item-body h3 {
  font-weight: 500;
  border-left: solid 2px #1abc9c;
  padding-left: 14px;
  margin-left: -1px;
}
.page-list .pz-list-item-body small {
  padding: 5px 15px;
  color: #888888;
}
.page-list .pz-list-item-control {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.page-list .pz-list-item-control a {
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.36s;
  color: #606b83;
  background: transparent;
  border: solid 1px #979fb2;
  border-radius: 50%;
}
.page-list .pz-list-item-control a.btn-del:hover {
  border: solid 1px rgba(255, 118, 117, 0.9);
  color: #ff7675;
}
.page-list .pz-list-item-control a.btn-edit:hover {
  border: solid 1px rgba(26, 188, 156, 0.9);
  color: #1abc9c;
}
.page-list .pz-list-item-control a.btn-preview {
  border: solid 1px rgba(26, 188, 156, 0.7);
  color: #1abc9c;
}
.page-list .pz-list-item-control a.btn-preview:hover {
  border: solid 1px #1abc9c;
  color: #1abc9c;
}
.page-list .pz-list-item-control span {
  margin-left: auto;
}

.controls {
  width: 260px;
  padding-top: 7px;
  background: #ffffff;
  height: 100%;
}
.controls-list {
  padding: 0 20px;
}
.controls-list-item {
  border: solid 1px #dedede !important;
  margin-bottom: 10px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls-list-item:hover {
  cursor: move;
  border-color: #006FE1;
}

.page-preview {
  display: flex;
}
.page-preview .pz-preview {
  flex: 1;
  overflow: auto;
}
.page-preview .pz-form-preview {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}
.loader-wrapper h3 {
  margin-top: 20px;
  text-transform: uppercase;
  color: #767676;
  font-weight: 400;
  color: rgba(0, 111, 225, 0.8);
  opacity: 0.9;
  font-size: 14px;
  -webkit-animation: blinker 1.2s linear infinite;
          animation: blinker 1.2s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0.6;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(0, 111, 225, 0.8);
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@-webkit-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ivu-btn-success {
  background: rgba(60, 204, 56, 0.95) !important;
}

.crud-page-header-left > h3 {
  color: #2C3A47 !important;
}

.sidebar {
  background: #2C3A47 !important;
}
.sidebar .logo {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  text-align: left;
  height: 50px !important;
  padding: 0 0 0 12px !important;
  border-bottom: solid 1px #3c4f60 !important;
}
.sidebar .logo img {
  width: auto !important;
  height: 40px !important;
  margin-right: 10px;
}
.sidebar .logo span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}
.sidebar .logo .app-text {
  font-size: 14px;
  color: #ffffff;
}
.sidebar.wide {
  width: 225px !important;
}
.sidebar.wide .aside-bottom ul li a {
  color: #a9bac9;
}
.sidebar.wide nav ul li {
  padding: 0 0 1px 0;
}
.sidebar.wide nav ul li.divider {
  height: 1px;
  background: #364757 !important;
  margin-top: 10px;
}
.sidebar.wide nav ul li.sub-title {
  font-size: 11px !important;
  color: #e8ecf0 !important;
  margin-top: 10px;
  opacity: 0.7;
}
.sidebar.wide nav ul li.sub-title span {
  padding-left: 10px;
}
.sidebar.wide nav ul li a {
  position: relative;
  overflow-y: hidden;
  display: flex;
  padding: 8px 5px 8px 20px !important;
  color: #2C3A47;
  transition: all 0.3s;
  align-items: center;
  border-left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 5px 20px 0 0;
}
.sidebar.wide nav ul li a i {
  color: #a9bac9 !important;
  display: block;
  font-size: 22px;
  transition: all 0.3s;
  margin-right: 6px;
}
.sidebar.wide nav ul li a span:not(.ivu-badge) {
  color: #a9bac9 !important;
  font-size: 13px;
  line-height: 13px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  transition: all 0.3s;
}
.sidebar.wide nav ul li a .ivu-badge {
  position: absolute;
  top: 3px;
  right: 10px;
}
.sidebar.wide nav ul li a:hover {
  background: #364757 !important;
}
.sidebar.wide nav ul li a:hover i, .sidebar.wide nav ul li a:hover span {
  color: rgba(255, 255, 255, 0.8) !important;
}
.sidebar.wide nav ul li a.active {
  background: #3c4f60 !important;
}
.sidebar.wide nav ul li a.active span, .sidebar.wide nav ul li a.active i {
  font-weight: 500 !important;
  color: #3ccc38 !important;
}

.paper-header .header-left h3.title {
  color: #2C3A47 !important;
}
.paper-header .paper-header-nav .nav ul li a:hover {
  color: #2C3A47 !important;
}
.paper-header .paper-header-nav .nav ul li a.active {
  color: #2C3A47 !important;
  border-bottom: solid 2px #2C3A47 !important;
}

.user-control ul > li > .ivu-badge > a:hover i {
  color: #2C3A47 !important;
}
.user-control ul > li .ivu-poptip-rel a {
  color: #2C3A47 !important;
}
.user-control ul > li .ivu-poptip-rel a:hover i {
  color: #2C3A47 !important;
}
.user-control ul > li.avatar-item .ivu-poptip-content .ivu-poptip-arrow {
  border-bottom-color: #2C3A47 !important;
}
.user-control ul > li.avatar-item .ivu-poptip-content .ivu-poptip-arrow:after {
  border-bottom-color: #2C3A47 !important;
}
.user-control ul > li.avatar-item .ivu-poptip-content .ivu-poptip-body .header-profile-info {
  background: #2C3A47 !important;
}
.user-control .header-profile ul li a:hover i, .user-control .header-profile ul li a:hover span {
  color: #2C3A47 !important;
}

.sub-sidebar {
  background: #ffffff !important;
}
.sub-sidebar.tabbed .ivu-tabs-tab-active {
  color: #2C3A47 !important;
}
.sub-sidebar.tabbed .ivu-tabs-ink-bar {
  background: #2C3A47 !important;
}
.sub-sidebar nav ul li a:hover {
  color: #364757 !important;
}
.sub-sidebar nav ul li a.active {
  background: transparent !important;
  color: #364757 !important;
}
.sub-sidebar nav ul li a.active:hover {
  color: #2C3A47 !important;
  cursor: default;
}
.sub-sidebar nav ul li a.active i {
  opacity: 1;
  color: #2C3A47 !important;
}

.role-control {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}
.role-control .role-list {
  width: 300px;
  float: left;
  background: #ffffff;
  height: 100%;
  overflow-y: auto;
  padding: 15px 10px 10px 10px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: rgba(221, 221, 221, 0.7) 0 0 8px 1px;
}
.role-control .role-list .ivu-btn {
  margin-bottom: 20px;
}
.role-control .role-list ul {
  padding-left: 0;
}
.role-control .role-list ul li {
  list-style: none;
  height: 35px;
  padding: 5px 10px;
  margin: 5px 0;
  width: 100%;
  position: relative;
  border-bottom: dotted 1px #dedede;
  border-radius: 5px;
  display: flex;
}
.role-control .role-list ul li:last-child {
  border-bottom: 0;
}
.role-control .role-list ul li .role_name {
  flex: 1;
  cursor: pointer;
  font-size: 13px;
}
.role-control .role-list ul li button {
  margin-left: auto;
}
.role-control .role-list ul li button.edit-btn {
  margin-right: 5px;
}
.role-control .role-list ul li.active, .role-control .role-list ul li:hover {
  background: #f4f5f6;
  color: #2C3A47;
}
.role-control .role-config {
  flex: 1;
  margin-right: auto;
  background: #fff;
  border-radius: 5px;
  height: 100%;
  overflow-y: auto;
  padding: 15px 20px;
  box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px;
}

.paper-header.mini .user-control {
  height: 30px !important;
  margin-top: -10px;
}

#menu-tree {
  max-width: 100%;
}

#menu-tree ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
  color: #000;
  border: 1px solid #fff;
}
#menu-tree ul li.menu-tree-item {
  list-style-type: none;
  color: #000;
  border: none;
  padding-left: 3px;
  margin: 5px 0 5px 0;
  background-color: #404850;
  transition: all 0.5s ease-out;
  height: auto;
}
#menu-tree ul, #menu-tree #menuTree {
  padding: 0;
  background-color: #fff;
}
#menu-tree .extended {
  height: 250px;
}
#menu-tree .menu-tree-item div.sortDiv {
  padding: 2px;
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: default;
  min-height: 43px;
  line-height: 37px;
}
#menu-tree .menu-control {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 26px;
  line-height: 26px;
  margin: 0 10px;
  padding: 7px;
}
#menu-tree .advanced {
  border-top: dotted 1px #dedede;
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-top: 15px;
}
#menu-tree .advanced h4 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;
}
#menu-tree .advanced .ivu-checkbox-wrapper {
  margin-right: 10px;
}

.sortDiv button {
  display: inline-block;
  margin: 0 1px;
}
.sortDiv .buttons {
  position: absolute;
  right: 5px;
  top: 5px;
}

.menu-title {
  max-width: 80% !important;
  display: inline-block;
  padding-left: 5px;
}
.menu-title .ivu-checkbox-wrapper {
  margin: 0;
}

.menu-icon {
  max-width: 70px;
  display: inline-block;
  padding-left: 5px;
}

.menu_types {
  max-width: 120px !important;
}

.user-data {
  background: #fff;
  width: 100%;
  height: 210px;
  padding: 10px 15px;
}

/*
Flaticon icon font: Flaticon
Creation date: 20/03/2017 20:02
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^=flaticon-]:before,
[class*=" flaticon-"]:before {
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-users:before {
  content: "\f100";
}

.flaticon-list-3:before {
  content: "\f101";
}

.flaticon-file-1:before {
  content: "\f102";
}

.flaticon-time-3:before {
  content: "\f103";
}

.flaticon-profile-1:before {
  content: "\f104";
}

.flaticon-time-2:before {
  content: "\f105";
}

.flaticon-list-2:before {
  content: "\f106";
}

.flaticon-multimedia-2:before {
  content: "\f107";
}

.flaticon-interface-9:before {
  content: "\f108";
}

.flaticon-file:before {
  content: "\f109";
}

.flaticon-background:before {
  content: "\f10a";
}

.flaticon-chat-1:before {
  content: "\f10b";
}

.flaticon-graph:before {
  content: "\f10c";
}

.flaticon-pie-chart:before {
  content: "\f10d";
}

.flaticon-bag:before {
  content: "\f10e";
}

.flaticon-warning-2:before {
  content: "\f10f";
}

.flaticon-visible:before {
  content: "\f110";
}

.flaticon-line-graph:before {
  content: "\f111";
}

.flaticon-diagram:before {
  content: "\f112";
}

.flaticon-statistics:before {
  content: "\f113";
}

.flaticon-paper-plane:before {
  content: "\f114";
}

.flaticon-cogwheel-2:before {
  content: "\f115";
}

.flaticon-lifebuoy:before {
  content: "\f116";
}

.flaticon-settings:before {
  content: "\f117";
}

.flaticon-menu-button:before {
  content: "\f118";
}

.flaticon-user:before {
  content: "\f119";
}

.flaticon-apps:before {
  content: "\f11a";
}

.flaticon-clock-1:before {
  content: "\f11b";
}

.flaticon-close:before {
  content: "\f11c";
}

.flaticon-pin:before {
  content: "\f11d";
}

.flaticon-circle:before {
  content: "\f11e";
}

.flaticon-interface-8:before {
  content: "\f11f";
}

.flaticon-technology-1:before {
  content: "\f120";
}

.flaticon-danger:before {
  content: "\f121";
}

.flaticon-exclamation-square:before {
  content: "\f122";
}

.flaticon-cancel:before {
  content: "\f123";
}

.flaticon-calendar-2:before {
  content: "\f124";
}

.flaticon-warning-sign:before {
  content: "\f125";
}

.flaticon-more:before {
  content: "\f126";
}

.flaticon-exclamation-2:before {
  content: "\f127";
}

.flaticon-cogwheel-1:before {
  content: "\f128";
}

.flaticon-book:before {
  content: "\f129";
}

.flaticon-squares-4:before {
  content: "\f12a";
}

.flaticon-clock:before {
  content: "\f12b";
}

.flaticon-graphic-2:before {
  content: "\f12c";
}

.flaticon-symbol:before {
  content: "\f12d";
}

.flaticon-tool-1:before {
  content: "\f12e";
}

.flaticon-laptop:before {
  content: "\f12f";
}

.flaticon-event-calendar-symbol:before {
  content: "\f130";
}

.flaticon-logout:before {
  content: "\f131";
}

.flaticon-refresh:before {
  content: "\f132";
}

.flaticon-questions-circular-button:before {
  content: "\f133";
}

.flaticon-search-magnifier-interface-symbol:before {
  content: "\f134";
}

.flaticon-search-1:before {
  content: "\f135";
}

.flaticon-more-v2:before {
  content: "\f136";
}

.flaticon-attachment:before {
  content: "\f137";
}

.flaticon-speech-bubble-1:before {
  content: "\f138";
}

.flaticon-open-box:before {
  content: "\f139";
}

.flaticon-coins:before {
  content: "\f13a";
}

.flaticon-speech-bubble:before {
  content: "\f13b";
}

.flaticon-squares-3:before {
  content: "\f13c";
}

.flaticon-computer:before {
  content: "\f13d";
}

.flaticon-alert-2:before {
  content: "\f13e";
}

.flaticon-alert-off:before {
  content: "\f13f";
}

.flaticon-map:before {
  content: "\f140";
}

.flaticon-interface-7:before {
  content: "\f141";
}

.flaticon-graphic-1:before {
  content: "\f142";
}

.flaticon-cogwheel:before {
  content: "\f143";
}

.flaticon-alert-1:before {
  content: "\f144";
}

.flaticon-folder-4:before {
  content: "\f145";
}

.flaticon-interface-6:before {
  content: "\f146";
}

.flaticon-interface-5:before {
  content: "\f147";
}

.flaticon-calendar-1:before {
  content: "\f148";
}

.flaticon-time-1:before {
  content: "\f149";
}

.flaticon-signs-2:before {
  content: "\f14a";
}

.flaticon-calendar:before {
  content: "\f14b";
}

.flaticon-search:before {
  content: "\f14c";
}

.flaticon-infinity:before {
  content: "\f14d";
}

.flaticon-list-1:before {
  content: "\f14e";
}

.flaticon-bell:before {
  content: "\f14f";
}

.flaticon-delete:before {
  content: "\f150";
}

.flaticon-squares-2:before {
  content: "\f151";
}

.flaticon-clipboard:before {
  content: "\f152";
}

.flaticon-shapes:before {
  content: "\f153";
}

.flaticon-comment:before {
  content: "\f154";
}

.flaticon-squares-1:before {
  content: "\f155";
}

.flaticon-mark:before {
  content: "\f156";
}

.flaticon-signs-1:before {
  content: "\f157";
}

.flaticon-squares:before {
  content: "\f158";
}

.flaticon-business:before {
  content: "\f159";
}

.flaticon-car:before {
  content: "\f15a";
}

.flaticon-light:before {
  content: "\f15b";
}

.flaticon-information:before {
  content: "\f15c";
}

.flaticon-dashboard:before {
  content: "\f15d";
}

.flaticon-edit-1:before {
  content: "\f15e";
}

.flaticon-location:before {
  content: "\f15f";
}

.flaticon-technology:before {
  content: "\f160";
}

.flaticon-exclamation-1:before {
  content: "\f161";
}

.flaticon-tea-cup:before {
  content: "\f162";
}

.flaticon-notes:before {
  content: "\f163";
}

.flaticon-analytics:before {
  content: "\f164";
}

.flaticon-transport:before {
  content: "\f165";
}

.flaticon-truck:before {
  content: "\f166";
}

.flaticon-user-settings:before {
  content: "\f167";
}

.flaticon-user-add:before {
  content: "\f168";
}

.flaticon-user-ok:before {
  content: "\f169";
}

.flaticon-internet:before {
  content: "\f16a";
}

.flaticon-alert:before {
  content: "\f16b";
}

.flaticon-alarm:before {
  content: "\f16c";
}

.flaticon-grid-menu:before {
  content: "\f16d";
}

.flaticon-up-arrow-1:before {
  content: "\f16e";
}

.flaticon-more-v3:before {
  content: "\f16f";
}

.flaticon-lock-1:before {
  content: "\f170";
}

.flaticon-profile:before {
  content: "\f171";
}

.flaticon-map-location:before {
  content: "\f172";
}

.flaticon-placeholder-2:before {
  content: "\f173";
}

.flaticon-route:before {
  content: "\f174";
}

.flaticon-more-v4:before {
  content: "\f175";
}

.flaticon-lock:before {
  content: "\f176";
}

.flaticon-multimedia-1:before {
  content: "\f177";
}

.flaticon-add:before {
  content: "\f178";
}

.flaticon-more-v5:before {
  content: "\f179";
}

.flaticon-more-v6:before {
  content: "\f17a";
}

.flaticon-grid-menu-v2:before {
  content: "\f17b";
}

.flaticon-suitcase:before {
  content: "\f17c";
}

.flaticon-app:before {
  content: "\f17d";
}

.flaticon-interface-4:before {
  content: "\f17e";
}

.flaticon-time:before {
  content: "\f17f";
}

.flaticon-list:before {
  content: "\f180";
}

.flaticon-music-2:before {
  content: "\f181";
}

.flaticon-tool:before {
  content: "\f182";
}

.flaticon-security:before {
  content: "\f183";
}

.flaticon-interface-3:before {
  content: "\f184";
}

.flaticon-interface-2:before {
  content: "\f185";
}

.flaticon-interface-1:before {
  content: "\f186";
}

.flaticon-layers:before {
  content: "\f187";
}

.flaticon-placeholder-1:before {
  content: "\f188";
}

.flaticon-placeholder:before {
  content: "\f189";
}

.flaticon-web:before {
  content: "\f18a";
}

.flaticon-multimedia:before {
  content: "\f18b";
}

.flaticon-tabs:before {
  content: "\f18c";
}

.flaticon-signs:before {
  content: "\f18d";
}

.flaticon-interface:before {
  content: "\f18e";
}

.flaticon-network:before {
  content: "\f18f";
}

.flaticon-share:before {
  content: "\f190";
}

.flaticon-info:before {
  content: "\f191";
}

.flaticon-exclamation:before {
  content: "\f192";
}

.flaticon-music-1:before {
  content: "\f193";
}

.flaticon-medical:before {
  content: "\f194";
}

.flaticon-imac:before {
  content: "\f195";
}

.flaticon-cart:before {
  content: "\f196";
}

.flaticon-download:before {
  content: "\f197";
}

.flaticon-edit:before {
  content: "\f198";
}

.flaticon-graphic:before {
  content: "\f199";
}

.flaticon-browser:before {
  content: "\f19a";
}

.flaticon-up-arrow:before {
  content: "\f19b";
}

.flaticon-folder-3:before {
  content: "\f19c";
}

.flaticon-folder-2:before {
  content: "\f19d";
}

.flaticon-folder-1:before {
  content: "\f19e";
}

.flaticon-folder:before {
  content: "\f19f";
}

.flaticon-music:before {
  content: "\f1a0";
}

.flaticon-chat:before {
  content: "\f1a1";
}

.db-sidebar {
  width: 80px;
  padding-top: 45px;
  background: #ffffff;
  height: 100%;
}
.db-sidebar ul {
  padding-left: 0;
}
.db-sidebar ul li {
  display: block;
  text-align: center;
}
.db-sidebar ul li a img {
  width: 30px;
}

.db-workspace {
  flex: 1;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  position: relative;
}
.db-workspace #db-designer {
  padding: 10px;
  width: 100%;
  height: calc(100% - 20px);
}
.db-workspace #db-designer .new-table {
  cursor: url("http://localhost:8080/assets/lambda/images/db/new-table.png"), auto;
}

.table-option .ivu-drawer-header-inner {
  color: #ffffff;
}
.table-option .db-table {
  padding-bottom: 20px;
}
.table-option .db-table-header {
  background: #f3f4f5;
  margin-bottom: 5px;
}
.table-option .db-table-header .ivu-col {
  display: flex;
  align-items: center;
  padding: 6px 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
}
.table-option .db-table-header .ivu-col.center {
  justify-content: center;
}
.table-option .db-table-body {
  height: calc(100% - 60px);
  overflow-y: auto;
}
.table-option .db-table-body-sub {
  height: calc(100% - 120px);
  overflow-y: auto;
}
.table-option .db-table-row {
  margin-top: 0px;
  margin-bottom: 5px;
  transition: all 0.2s;
}
.table-option .db-table-row.active {
  background: #e0e4e9;
}
.table-option .db-table-row.active:hover {
  background: #e0e4e9;
}
.table-option .db-table-row:hover {
  background: #f7f8f9;
}
.table-option .db-table-row .ivu-col {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  min-height: 40px;
}
.table-option .db-table-row .ivu-col.center {
  justify-content: center;
}
.table-option .db-table-row .ivu-col strong {
  font-weight: 500;
}
.table-option .db-table-row .ivu-col strong .key {
  color: #00cec9;
}
.table-option .db-table-row .ivu-col .ivu-input {
  color: #555555;
}
.table-option .db-table-row .ivu-col .expand-toggle {
  border: solid 1px #5ca6f1;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.table-option .db-table-row .ivu-col .expand-toggle:hover {
  border-color: #2D8CED;
}
.table-option .db-table-row .ivu-col .expand-toggle:hover i {
  color: #2D8CED;
}
.table-option .db-table-row .ivu-col .expand-toggle.active {
  border-color: #2D8CED;
  color: #2D8CED;
  transform: rotate(180deg);
}
.table-option .db-table-row .ivu-col .expand-toggle.disabled {
  border-color: #dedede;
}
.table-option .db-table-row .ivu-col .expand-toggle.disabled i {
  color: #dedede;
}
.table-option .db-table-row .ivu-col .expand-toggle i {
  color: #5ca6f1;
  font-size: 16px;
}

.db-design {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}

.language-switcher {
  padding: 20px 15px 0 15px;
}
.language-switcher .ivu-select-selection {
  background-color: transparent;
  color: #a9bac9;
}

.paper-page-body {
  padding: 20px;
}
