.query-builder .rule-container, .query-builder .rules-group-container {
  position: relative;
  margin: 4px 0;
  border-radius: 0px;
  padding: 5px;
  border: 1px solid #EEE;
  background: rgba(255, 255, 255, 0.9);
}

.query-builder .error-container, .query-builder .rule-container .rule-filter-container,
.query-builder .rule-container .rule-operator-container,
.query-builder .rule-container .rule-value-container {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.query-builder {
  width: 100%;
}
.query-builder .rules-group-container {
  padding: 10px;
  padding-bottom: 6px;
  border: 1px solid #4c9ee6;
  background: rgba(250, 240, 210, 0);
}
.query-builder .rules-group-header {
  margin-bottom: 10px;
}
.query-builder .rules-group-header .group-conditions .btn.readonly:not(.active),
.query-builder .rules-group-header .group-conditions input[name$=_cond] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.query-builder .rules-group-header .group-conditions .btn.readonly {
  border-radius: 3px;
}
.query-builder .rules-list {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0;
}
.query-builder .rule-value-container {
  border-left: 1px solid #DDD;
  padding-left: 5px;
}
.query-builder .rule-value-container .form-control {
  max-width: 85px;
}
.query-builder .rule-value-container label {
  margin-bottom: 0;
  font-weight: normal;
}
.query-builder .rule-value-container label.block {
  display: block;
}
.query-builder .rule-value-container select,
.query-builder .rule-value-container input[type=text],
.query-builder .rule-value-container input[type=number] {
  padding: 1px;
}
.query-builder .error-container {
  display: none;
  cursor: help;
  color: #F00;
}
.query-builder .has-error {
  background-color: #FDD;
  border-color: #F99;
}
.query-builder .has-error .error-container {
  display: inline-block !important;
}
.query-builder .rules-list > *::before, .query-builder .rules-list > *::after {
  content: "";
  position: absolute;
  left: -10px;
  width: 10px;
  height: calc(50% + 4px);
  border-color: #CCC;
  border-style: solid;
}
.query-builder .rules-list > *::before {
  top: -4px;
  border-width: 0 0 2px 2px;
}
.query-builder .rules-list > *::after {
  top: 50%;
  border-width: 0 0 0 2px;
}
.query-builder .rules-list > *:first-child::before {
  top: -12px;
  height: calc(50% + 14px);
}
.query-builder .rules-list > *:last-child::before {
  border-radius: 0 0 0 4px;
}
.query-builder .rules-list > *:last-child::after {
  display: none;
}

.query-builder,
.query-builder * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.query-builder {
  font-family: sans-serif;
}

.query-builder .hide {
  display: none;
}

.query-builder .pull-right {
  float: right !important;
}

.query-builder .btn {
  text-transform: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.query-builder .btn.focus,
.query-builder .btn:focus,
.query-builder .btn:hover {
  color: #333;
  text-decoration: none;
}

.query-builder .btn.active,
.query-builder .btn:active {
  background-image: none;
  outline: 0px none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.query-builder .btn-success {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.query-builder .btn-primary {
  color: #FFF;
  background-color: #4c9ee6;
  border-color: #4c9ee6;
}

.query-builder .btn-danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.query-builder .btn-success.active,
.query-builder .btn-success.focus,
.query-builder .btn-success:active,
.query-builder .btn-success:focus,
.query-builder .btn-success:hover {
  color: #FFF;
  background-color: #449D44;
  border-color: #398439;
}

.query-builder .btn-primary.active,
.query-builder .btn-primary.focus,
.query-builder .btn-primary:active,
.query-builder .btn-primary:focus,
.query-builder .btn-primary:hover {
  color: #FFF;
  background-color: #007AE5;
  border-color: #007AE5;
}

.query-builder .btn-danger.active,
.query-builder .btn-danger.focus,
.query-builder .btn-danger:active,
.query-builder .btn-danger:focus,
.query-builder .btn-danger:hover {
  color: #FFF;
  background-color: #C9302C;
  border-color: #AC2925;
}

.query-builder .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.query-builder .btn-group > .btn {
  position: relative;
  float: left;
  top: -2.5px;
}

.query-builder .btn-group > .btn:first-child {
  margin-left: 0px;
}

.query-builder .btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.query-builder .btn-group > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.query-builder .btn-group .btn + .btn,
.query-builder .btn-group .btn + .btn-group,
.query-builder .btn-group .btn-group + .btn,
.query-builder .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.query-builder .btn-xs,
.query-builder .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.data-source {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}

.data-source-sidebar {
  width: 380px;
  padding-top: 45px;
  background: #ffffff;
  height: 100%;
}

.data-source-workspace {
  flex: 1;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  position: relative;
}

.data-source-header {
  border-bottom: solid 1px #dedede;
  width: 100%;
  position: absolute;
  top: 0;
  height: 40px;
  background: #F5F6FC;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.data-source-header-buttons {
  margin-top: -2px;
}

.data-source-sidebar-wrapper {
  margin: 5px 10px 10px 10px;
  height: calc(100vh - 60px);
}

.data-source-sidebar-wrapper .field-editor {
  height: 50%;
  font-size: 10px;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
}
.data-source-sidebar-wrapper .field-editor .ivu-select-dropdown {
  z-index: 999999;
}

.data-source-sidebar-wrapper .field-editor td {
  font-size: 10px;
}

.data-source-sidebar-wrapper .field-editor .ivu-select, .data-source-sidebar-wrapper .field-editor .ivu-input-number {
  width: 100% !important;
}

.data-source-sidebar-wrapper .table-selector {
  height: 50%;
  overflow-y: auto;
  padding: 5px 0;
}

.data-source-table {
  margin: 5px 0 0 0;
  text-align: left;
  color: #000;
}
.data-source-wrapper {
  padding: 50px 10px 10px 10px;
  width: 100%;
  height: calc(100% - 60px);
}
.data-source-wrapper svg:not(:root) {
  overflow: auto !important;
}

.preview {
  height: 200px;
  overflow-y: auto;
  background: #2D333D;
  color: #fff;
  margin-top: 2px;
  padding: 12px;
}
