<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.title}}</title>
    <meta name="csrf-token" content={{index .csrfToken}}>
    <link href="{{.favicon}}" rel="icon"/>
    <link rel="stylesheet" href="/control_panel/fonts/roboto/roboto.css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="{{index .mix "/assets/lambda/css/vendor.css"}}">

    <link rel="stylesheet" href="{{index .mix "/assets/lambda/css/moqup.css"}}">
    <link rel="stylesheet" href="{{index .mix "/assets/lambda/css/chart.css"}}">
    <link rel="stylesheet" href="/assets/lambda/fonts/flaticons/flaticons.css">
    <link rel="stylesheet" href="/assets/lambda/fonts/themify/themify-icons.css">
    <link rel="stylesheet" href="{{index .mix "/assets/admin/css/moqup_view.css"}}">
</head>
<body>
<div id="moqup">

</div>
<script src="{{index .mix "/assets/lambda/js/manifest.js"}}"></script>
<script src="{{index .mix "/assets/lambda/js/vendor.js"}}"></script>
<script type="text/javascript" src="/vendor/echart/echarts-en.js"></script>

<script>
    window.init = {
        url: "/lambda/puzzle/schema-public/moqup/{{.id}}",
    };
</script>
<script src="{{index .mix "/assets/lambda/js/moqup.js"}}"></script>
<script src="{{index .mix "/assets/lambda/js/chart.js"}}"></script>
<script src="{{index .mix "/assets/admin/js/moqup_view.js" }}"></script>

</body>
</html>
