$primary: #1d3faa;
$active-color:#1d3faa;
$second: #fff;
$text-color: #666;
$header-height: 50px;
$side-width:260px;
$border-radius:25px;
$whith-bg:#F1F5F8;

:root {
  --primary: #1d3faa;
  --textColor: #FFF;
}