.sidebar {
  background: #1152BB !important;
}
.sidebar .logo {
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.sidebar .logo img {
  margin-right: 10px;
  width: auto !important;
  height: 35px !important;
}
.sidebar .logo span {
  color: #ffffff;
  font-size: 12px;
  text-align: left;
}
.sidebar nav {
  overflow-y: auto;
}
.sidebar nav ul li a {
  font-weight: 300 !important;
  padding: 8px 5px 8px 20px !important;
  font-size: 14px !important;
}
.sidebar nav ul li a i {
  font-size: 18px !important;
  color: #a2c2f7 !important;
}
.sidebar nav ul li a i.ti {
  font-size: 16px !important;
}
.sidebar nav ul li a span {
  font-weight: 400;
  font-size: 12px !important;
}
.sidebar nav ul li a:hover {
  background: #0f48a4 !important;
}
.sidebar nav ul li a:hover i {
  color: #ffffff !important;
}
.sidebar nav ul li a.active {
  background: #0f48a4 !important;
  border-left: 0 !important;
}
.sidebar nav ul li a.active::before {
  content: "";
  width: 3px;
  position: absolute;
  display: block;
  left: 0;
  top: 5px;
  bottom: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #FFC702;
}
.sidebar nav ul li a.active i, .sidebar nav ul li a.active span {
  color: #ffffff !important;
  font-weight: 500;
}
.sidebar .aside-bottom ul li a {
  text-align: left !important;
  padding-left: 20px !important;
  border-top: solid 1px #135ace !important;
}
.sidebar .aside-bottom ul li a i {
  color: #a2c2f7 !important;
  font-size: 18px !important;
  margin-right: 10px;
}
.sidebar .aside-bottom ul li a span {
  color: #a2c2f7;
}
.sidebar .aside-bottom ul li a:hover i, .sidebar .aside-bottom ul li a:hover span {
  color: #ffffff !important;
}
.sidebar .aside-bottom ul li a.active i, .sidebar .aside-bottom ul li a.active span {
  color: #ffffff !important;
}
.sidebar.hover nav a:hover,
.sidebar.hover nav .active {
  background: #104cad !important;
}

.crud-page-header-left > h3 {
  color: #1152BB !important;
}

.paper-header .header-left h3.title {
  color: #1152BB !important;
}
.paper-header .paper-header-nav .nav ul li a:hover {
  color: #1152BB !important;
}
.paper-header .paper-header-nav .nav ul li a.active {
  color: #1152BB !important;
  border-bottom: solid 2px #1152BB !important;
}
.paper-header .paper-header-top .header-right {
  padding-top: 0;
}

.user-control ul > li > .ivu-badge > a:hover i {
  color: #1152BB !important;
}
.user-control ul > li .ivu-poptip-rel a {
  color: #1152BB !important;
}
.user-control ul > li .ivu-poptip-rel a:hover i {
  color: #1152BB !important;
}
.user-control ul > li.avatar-item .ivu-poptip-content .ivu-poptip-arrow {
  border-bottom-color: #1152BB !important;
}
.user-control ul > li.avatar-item .ivu-poptip-content .ivu-poptip-arrow:after {
  border-bottom-color: #1152BB !important;
}
.user-control ul > li.avatar-item .ivu-poptip-content .ivu-poptip-body .header-profile-info {
  background: #1152BB !important;
}
.user-control .header-profile ul li a:hover i, .user-control .header-profile ul li a:hover span {
  color: #1152BB !important;
}

.sub-sidebar {
  background: #ffffff !important;
}
.sub-sidebar.tabbed .ivu-tabs-tab-active {
  color: #1152BB !important;
}
.sub-sidebar.tabbed .ivu-tabs-ink-bar {
  background: #1152BB !important;
}
.sub-sidebar nav ul li a:hover {
  color: #135cd2 !important;
}
.sub-sidebar nav ul li a.active {
  background: transparent !important;
  color: #135cd2 !important;
}
.sub-sidebar nav ul li a.active:hover {
  color: #1152BB !important;
  cursor: default;
}
.sub-sidebar nav ul li a.active i {
  opacity: 1;
  color: #1152BB !important;
}

.ivu-drawer-header {
  background: #1152BB !important;
}

.pricelist-agent .ag-row.blue {
  background: #ecf5ff !important;
}

.ivu-notice {
  top: auto !important;
  bottom: 30px;
}
.ivu-notice a {
  color: #ffffff !important;
  font-size: 12px;
}
.ivu-notice a h4 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}
.ivu-notice-notice {
  background: rgba(17, 82, 187, 0.6);
}
.ivu-notice .ivu-notice-notice-close i {
  color: #ffffff;
}

.ivu-tabs-ink-bar {
  background-color: #1152BB !important;
}

.ivu-tabs-nav .ivu-tabs-tab-active {
  color: #1152BB;
}
.ivu-tabs-nav .ivu-tabs-tab:hover {
  color: #1152BB;
}

.ivu-input-group .ivu-input {
  z-index: 0 !important;
}

.dg .curr {
  display: flex;
}
.dg .curr > span:last-child {
  margin-left: auto;
  justify-content: flex-end;
}

.ivu-poptip-arrow {
  border-bottom-color: #1152BB !important;
}

.krud-nav ul li a.active {
  color: #0fb9b1 !important;
  border-bottom-color: #0fb9b1 !important;
}

.crud-page-body .v-nav .card-body li a.active {
  color: #1152BB !important;
  background-color: #fafafa;
}
.crud-page-body .v-nav .card-body li a .ag-theme-balham .ag-header-row-column {
  height: 25px;
  line-height: 25px;
}
.crud-page-body .v-nav .card-body li a .ag-theme-balham .ag-panel-title-bar-title {
  font-weight: 500;
}
.crud-page-body .v-nav .card-body li a .ag-theme-balham .ag-row {
  font-size: 12px !important;
}
.crud-page-body .v-nav .card-body li a .ag-theme-balham .ag-row .ag-cell {
  line-height: 25px !important;
}
.crud-page-body .v-nav .card-body li a .ag-theme-balham .ag-status-name-value {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.crud-page-body .v-nav .card-body li a .no-filter-btn .ag-floating-filter-button {
  display: none;
}
.crud-page-body .v-nav .card-body li a .no-emenu-btn .ag-header-cell-menu-button {
  display: none;
}
.crud-page-body .v-nav .card-body li a .ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #007AE5 !important;
}
